<div class="content1__left">
  <ul class="left-menu1">
    <li class="left-menu1__item">
      <a href="" class="left-menu1__link">
        <span class="left-menu1__icon icon1"><i></i></span>
        <span class="left-menu1__text"><span>Dashboard</span></span>
      </a>
    </li>
    <li class="left-menu1__item">
      <a href="" class="left-menu1__link sub" data-dt="1">
        <span class="left-menu1__icon icon2"><i></i></span>
        <span class="left-menu1__text"><span>Goals</span></span>
      </a>
      <ul class="left-menu1__sub-menu">
        <li class="left-menu1__sub-item"><a href=""><span>Goal Centre</span></a></li>
        <li class="left-menu1__sub-item active"><a href=""><span>Goals Directory</span></a></li>
      </ul>
    </li>
    <li class="left-menu1__item">
      <a href="" class="left-menu1__link sub" data-dt="0">
        <span class="left-menu1__icon icon3"><i></i></span>
        <span class="left-menu1__text"><span>Admin</span></span>
      </a>
      <ul class="left-menu1__sub-menu">
        <li class="left-menu1__sub-item"><a href=""><span>Goal Centre</span></a></li>
        <li class="left-menu1__sub-item"><a href=""><span>Goal Centre Centre Centre Centre Centre</span></a></li>
        <li class="left-menu1__sub-item"><a href=""><span>Goal Centre</span></a></li>
        <li class="left-menu1__sub-item"><a href=""><span>Goal Centre</span></a></li>
        <li class="left-menu1__sub-item"><a href=""><span>Goal Centre</span></a></li>
        <li class="left-menu1__sub-item"><a href=""><span>Goal Centre</span></a></li>
        <li class="left-menu1__sub-item"><a href=""><span>Goal Centre</span></a></li>
        <li class="left-menu1__sub-item"><a href=""><span>Goal Centre</span></a></li>
      </ul>
    </li>
    <li class="left-menu1__item">
      <a href="" class="left-menu1__link">
        <span class="left-menu1__icon icon4"><i></i></span>
        <span class="left-menu1__text"><span>Settings</span></span>
      </a>
    </li>
    <li class="left-menu1__item">
      <a href="" class="left-menu1__link">
        <span class="left-menu1__icon icon5"><i></i></span>
        <span class="left-menu1__text"><span>Support</span></span>
      </a>
    </li>
  </ul>
</div>
