<div class="space1"></div>
<div class="header">
  <div class="header__left"><a href="" class="logo"><img src="assets/img/logo.svg" alt=""><span>B Online Learning</span></a></div>
  <div class="content-author1">
    <div class="content-author1__image"><img src="assets/img/av2.png" alt=""><a href="" class="edit1"></a></div>
    <div class="content-author1__title1">Anna McLuckie</div>
    <div class="content-author1__title2">New York Academy</div>
    <div class="nav-tab1">
      <div class="nav-tab1__item active"><a href="">The Basic</a></div>
      <div class="nav-tab1__item"><a href="">Connections</a></div>
    </div>
    <div class="content-author1__text">
      <p><span>User Name</span>annamclucke</p>
      <p><span>Email</span><a href="mailto:annamclucke@gmail.com">annamclucke@gmail.com</a></p>
      <p><span>Password</span><a href="" class="style1">Change Password</a></p>
      <p><span>First Name</span>Anna</p>
      <p><span>Last Name</span>McLuckie</p>
      <div class="social1">
        <a href="" class="icon1"></a>
        <a href="" class="icon2"></a>
        <a href="" class="icon3"></a>
        <a href="" class="icon4"></a>
        <a href="" class="icon5"></a>
      </div>
    </div>
  </div>
  <div class="header__right">
    <div class="close-account-menu1"></div>
    <div class="hide-button-mobile">
      <a href="" class="mess1"><span></span></a>
      <a href="" class="mess2"><span></span></a>
      <a href="" class="notify1"><span></span></a>
    </div>
    <div class="account-menu1">
      <div class="account-menu1__current"><img src="assets/img/av1.png" alt=""><span></span></div>
    </div>
  </div>
  <div class="header__center">
    <div class="menu-button1 active"></div>
    <div class="search-open1"></div>
    <div class="search1">
      <input type="text" placeholder="Search" class="search1__input">
      <input type="submit" value="" class="search1__submit">
    </div>
    <a href="" class="logo mod1"><img src="assets/img/logo.svg" alt=""><span>B Online Learning</span></a>
  </div>
</div>
