<div class="content1__right">
  <div class="top-information1">
    <div class="top-information1__left">Goals Directory</div>
    <div class="top-information1__right">
      <div class="filter-nav1">
        <a href="" class="filter-nav1__icon1 active"><i></i></a>
        <a href="" class="filter-nav1__icon2"><i></i></a>
        <a href="" class="filter-nav1__icon3"><i></i></a>
      </div>
      <select>
        <option>Statistics</option>
        <option>Statistics1</option>
        <option>Statistics2</option>
        <option>Statistics3</option>
        <option>Statistics4</option>
        <option>Statistics5</option>
      </select>
    </div>
  </div>
  <div class="title1">Featured Learning</div>
  <div class="scroll1">
    <div class="list-block1">
      <div class="block1">
        <div class="block1__title">Mental Health</div>
        <div class="block1__date">23.05.18</div>
        <div class="block1__image" style="background-image: url(assets/img/t1.jpg);"></div>
        <div class="progress1">
          <span>85%</span>
          <div><i style="width: 85%"></i></div>
        </div>
        <div class="block1__text">You need a laptop with applicable Articulate Storyline software installed. We will email you instructions on how to download the to you instructions on how to download the to</div>
        <a href="" class="registration1">Register</a>
      </div>
      <div class="block1">
        <div class="block1__title">Mental Health</div>
        <div class="block1__date">23.05.18</div>
        <div class="block1__image" style="background-image: url(assets/img/t2.jpg);"></div>
        <div class="progress1">
          <span>85%</span>
          <div><i style="width: 85%"></i></div>
        </div>
        <div class="block1__text">You need a laptop with applicable Articulate Storyline software installed. We will email you instructions on how to download the to you instructions on how to download the to</div>
        <a href="" class="registration1">Register</a>
      </div>
      <div class="block1">
        <div class="block1__title">Mental Health</div>
        <div class="block1__date">23.05.18</div>
        <div class="block1__image" style="background-image: url(assets/img/t3.jpg);"></div>
        <div class="progress1">
          <span>85%</span>
          <div><i style="width: 85%"></i></div>
        </div>
        <div class="block1__text">You need a laptop with applicable Articulate Storyline software installed. We will email you instructions on how to download the to you instructions on how to download the to</div>
        <a href="" class="registration1">Register</a>
      </div>
      <div class="block1">
        <div class="block1__title">Mental Health</div>
        <div class="block1__date">23.05.18</div>
        <div class="block1__image" style="background-image: url(assets/img/t4.jpg);"></div>
        <div class="progress1">
          <span>85%</span>
          <div><i style="width: 85%"></i></div>
        </div>
        <div class="block1__text">You need a laptop with applicable Articulate Storyline software installed. We will email you instructions on how to download the to you instructions on how to download the to</div>
        <a href="" class="registration1">Register</a>
      </div>
      <div class="block1">
        <div class="block1__title">Mental Health</div>
        <div class="block1__date">23.05.18</div>
        <div class="block1__image" style="background-image: url(assets/img/t5.jpg);"></div>
        <div class="progress1">
          <span>85%</span>
          <div><i style="width: 85%"></i></div>
        </div>
        <div class="block1__text">You need a laptop with applicable Articulate Storyline software installed. We will email you instructions on how to download the to you instructions on how to download the to</div>
        <a href="" class="registration1">Register</a>
      </div>
      <div class="block1">
        <div class="block1__title">Mental Health</div>
        <div class="block1__date">23.05.18</div>
        <div class="block1__image" style="background-image: url(assets/img/t1.jpg);"></div>
        <div class="progress1">
          <span>85%</span>
          <div><i style="width: 85%"></i></div>
        </div>
        <div class="block1__text">You need a laptop with applicable Articulate Storyline software installed. We will email you instructions on how to download the to you instructions on how to download the to</div>
        <a href="" class="registration1">Register</a>
      </div>
      <div class="block1">
        <div class="block1__title">Mental Health</div>
        <div class="block1__date">23.05.18</div>
        <div class="block1__image" style="background-image: url(assets/img/t2.jpg);"></div>
        <div class="progress1">
          <span>85%</span>
          <div><i style="width: 85%"></i></div>
        </div>
        <div class="block1__text">You need a laptop with applicable Articulate Storyline software installed. We will email you instructions on how to download the to you instructions on how to download the to</div>
        <a href="" class="registration1">Register</a>
      </div>
      <div class="block1">
        <div class="block1__title">Mental Health</div>
        <div class="block1__date">23.05.18</div>
        <div class="block1__image" style="background-image: url(assets/img/t3.jpg);"></div>
        <div class="progress1">
          <span>85%</span>
          <div><i style="width: 85%"></i></div>
        </div>
        <div class="block1__text">You need a laptop with applicable Articulate Storyline software installed. We will email you instructions on how to download the to you instructions on how to download the to</div>
        <a href="" class="registration1">Register</a>
      </div>
      <div class="block1">
        <div class="block1__title">Mental Health</div>
        <div class="block1__date">23.05.18</div>
        <div class="block1__image" style="background-image: url(assets/img/t4.jpg);"></div>
        <div class="progress1">
          <span>85%</span>
          <div><i style="width: 85%"></i></div>
        </div>
        <div class="block1__text">You need a laptop with applicable Articulate Storyline software installed. We will email you instructions on how to download the to you instructions on how to download the to</div>
        <a href="" class="registration1">Register</a>
      </div>
      <div class="block1">
        <div class="block1__title">Mental Health</div>
        <div class="block1__date">23.05.18</div>
        <div class="block1__image" style="background-image: url(assets/img/t5.jpg);"></div>
        <div class="progress1">
          <span>85%</span>
          <div><i style="width: 85%"></i></div>
        </div>
        <div class="block1__text">You need a laptop with applicable Articulate Storyline software installed. We will email you instructions on how to download the to you instructions on how to download the to</div>
        <a href="" class="registration1">Register</a>
      </div>
    </div>
  </div>
  <div class="title1">Mental Education</div>
  <div class="scroll1">
    <div class="list-block1">
      <div class="block1">
        <div class="block1__title">Mental Health</div>
        <div class="block1__date">23.05.18</div>
        <div class="block1__image" style="background-image: url(assets/img/t1.jpg);"></div>
        <div class="progress1">
          <span>85%</span>
          <div><i style="width: 85%"></i></div>
        </div>
        <div class="block1__text">You need a laptop with applicable Articulate Storyline software installed. We will email you instructions on how to download the to you instructions on how to download the to</div>
        <a href="" class="registration1">Register</a>
      </div>
      <div class="block1">
        <div class="block1__title">Mental Health</div>
        <div class="block1__date">23.05.18</div>
        <div class="block1__image" style="background-image: url(assets/img/t2.jpg);"></div>
        <div class="progress1">
          <span>85%</span>
          <div><i style="width: 85%"></i></div>
        </div>
        <div class="block1__text">You need a laptop with applicable Articulate Storyline software installed. We will email you instructions on how to download the to you instructions on how to download the to</div>
        <a href="" class="registration1">Register</a>
      </div>
      <div class="block1">
        <div class="block1__title">Mental Health</div>
        <div class="block1__date">23.05.18</div>
        <div class="block1__image" style="background-image: url(assets/img/t3.jpg);"></div>
        <div class="progress1">
          <span>85%</span>
          <div><i style="width: 85%"></i></div>
        </div>
        <div class="block1__text">You need a laptop with applicable Articulate Storyline software installed. We will email you instructions on how to download the to you instructions on how to download the to</div>
        <a href="" class="registration1">Register</a>
      </div>
      <div class="block1">
        <div class="block1__title">Mental Health</div>
        <div class="block1__date">23.05.18</div>
        <div class="block1__image" style="background-image: url(assets/img/t4.jpg);"></div>
        <div class="progress1">
          <span>85%</span>
          <div><i style="width: 85%"></i></div>
        </div>
        <div class="block1__text">You need a laptop with applicable Articulate Storyline software installed. We will email you instructions on how to download the to you instructions on how to download the to</div>
        <a href="" class="registration1">Register</a>
      </div>
      <div class="block1">
        <div class="block1__title">Mental Health</div>
        <div class="block1__date">23.05.18</div>
        <div class="block1__image" style="background-image: url(assets/img/t5.jpg);"></div>
        <div class="progress1">
          <span>85%</span>
          <div><i style="width: 85%"></i></div>
        </div>
        <div class="block1__text">You need a laptop with applicable Articulate Storyline software installed. We will email you instructions on how to download the to you instructions on how to download the to</div>
        <a href="" class="registration1">Register</a>
      </div>
      <div class="block1">
        <div class="block1__title">Mental Health</div>
        <div class="block1__date">23.05.18</div>
        <div class="block1__image" style="background-image: url(assets/img/t1.jpg);"></div>
        <div class="progress1">
          <span>85%</span>
          <div><i style="width: 85%"></i></div>
        </div>
        <div class="block1__text">You need a laptop with applicable Articulate Storyline software installed. We will email you instructions on how to download the to you instructions on how to download the to</div>
        <a href="" class="registration1">Register</a>
      </div>
      <div class="block1">
        <div class="block1__title">Mental Health</div>
        <div class="block1__date">23.05.18</div>
        <div class="block1__image" style="background-image: url(assets/img/t2.jpg);"></div>
        <div class="progress1">
          <span>85%</span>
          <div><i style="width: 85%"></i></div>
        </div>
        <div class="block1__text">You need a laptop with applicable Articulate Storyline software installed. We will email you instructions on how to download the to you instructions on how to download the to</div>
        <a href="" class="registration1">Register</a>
      </div>
      <div class="block1">
        <div class="block1__title">Mental Health</div>
        <div class="block1__date">23.05.18</div>
        <div class="block1__image" style="background-image: url(assets/img/t3.jpg);"></div>
        <div class="progress1">
          <span>85%</span>
          <div><i style="width: 85%"></i></div>
        </div>
        <div class="block1__text">You need a laptop with applicable Articulate Storyline software installed. We will email you instructions on how to download the to you instructions on how to download the to</div>
        <a href="" class="registration1">Register</a>
      </div>
      <div class="block1">
        <div class="block1__title">Mental Health</div>
        <div class="block1__date">23.05.18</div>
        <div class="block1__image" style="background-image: url(assets/img/t4.jpg);"></div>
        <div class="progress1">
          <span>85%</span>
          <div><i style="width: 85%"></i></div>
        </div>
        <div class="block1__text">You need a laptop with applicable Articulate Storyline software installed. We will email you instructions on how to download the to you instructions on how to download the to</div>
        <a href="" class="registration1">Register</a>
      </div>
      <div class="block1">
        <div class="block1__title">Mental Health</div>
        <div class="block1__date">23.05.18</div>
        <div class="block1__image" style="background-image: url(assets/img/t5.jpg);"></div>
        <div class="progress1">
          <span>85%</span>
          <div><i style="width: 85%"></i></div>
        </div>
        <div class="block1__text">You need a laptop with applicable Articulate Storyline software installed. We will email you instructions on how to download the to you instructions on how to download the to</div>
        <a href="" class="registration1">Register</a>
      </div>
    </div>
  </div>
</div>
